@import unocss from 'unocss';

* {
  @apply 'm-0 p-0 box-border';
}

body {
  @apply 'bg-gray-100 flex flex-col items-center justify-center text-center overflow-x-hidden';
}

@media (max-width: 640px) {
  /* phones */
  .NavBar {
    display: none !important;
  }
}

.Foryoupage {
  @apply 'w-[clamp(300px,100vw,1440px)] h-auto';
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800&display=swap');

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Inter', sans-serif;
  line-height: 1.2 !important;
}

h1 {
  font-size: clamp(2.5rem, 5vw + 1rem, 4.25rem) !important;
  font-weight: 800;
}

h2 {
  font-size: clamp(2rem, 4vw + 1rem, 3.15rem) !important;
  font-weight: 700;
}

h3 {
  font-size: clamp(1.75rem, 3vw + 0.5rem, 2.37rem) !important;
  font-weight: 700;
}

h4 {
  font-size: clamp(1.5rem, 2vw + 0.5rem, 1.78rem) !important;
  font-weight: 600;
}

h5 {
  font-size: clamp(1.25rem, 1vw + 0.25rem, 1.33rem) !important;
  font-weight: 600;
}

body,
p {
  font-size: clamp(0.95rem, 0.3vw + 0.75rem, 1.1rem) !important;
  font-weight: 400;
}

small {
  font-size: clamp(0.7rem, 0.25vw + 0.6rem, 0.75rem) !important;
  font-weight: 300;
}
